:root {
    --framebg: #630101;
    --link: #d40000;
    --p: #181818;
    --textbg: #ffd6d6;
    --header: #111111;
    --frametext: #ffd6d6;
}
body {
    font-size: 19px; 
    display: flex;
    overflow: hidden;
    height: 100vh;
    min-width: 300px;
    font-family: 'Source Serif 4', serif;
    background-color: var(--framebg);
}
code {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
header {
    font-weight: 700;
    font-size: 125%;
    color: var(--header);
}
p {
    color: var(--p);
}
.n-i {
    font-style: normal;
}
h1 {
    font-size: 113%;
    text-indent: 10px;
}
a, a:visited {
    color: var(--link);
}
a:hover {
    background-color: var(--link);
    color: var(--textbg);
    text-decoration: none;
}
.indent {
    text-indent: 2%;
    font-size: 115%;
}
table, th, td {
    border: 1px solid var(--p);
    border-collapse: collapse;
    text-align: center;
    padding: 1.5%;
    margin: 2% auto;
}
a.nav-link, a:visited.nav-link {
    color: var(--frametext);
}
a:hover.nav-link {
    background-color: var(--textbg);
    color: var(--framebg);
}
#navbar {
    border: solid var(--textbg);
    padding: 1%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    background-color: var(--framebg);
    color: var(--textbg);
}
#main-doc {
    overflow: auto;
    padding: 2%;
    background-color: var(--textbg);
}
.links {
    list-style-type: none;
    padding: 1%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.none {
    margin: 5%;
    text-align: center;
}
.nav-header {
    margin: 10px;
    color: var(--frametext);
}
.squiggly {
    text-decoration: wavy;
    text-decoration-line: underline;
}
ul {
    color: var(--p);
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --framebg: #19212b;
        --p: #e4e4e4;
        --textbg: #111a25;
        --header: #e4e4e4;
        --frametext: #dadada;
        --link: #c8ff00;
    }
    a:hover.nav-link {
        background-color: var(--link);
        color: var(--framebg);
    }
}
@media only screen and (max-width: 700px) {
    body {
        font-size: 16px; 
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100vh;
        min-width: 300px;
    }
    #navbar {
        padding: 1% 5% 0.5% 5%;
        border-right: none;
        border-top: none;
        border-left: none;
        margin: 0;
        padding-bottom: 0;
    }
    #main-doc {
        overflow: auto;
        padding: 5%;
        margin: 1% 5% 0.5% 5%;
    }
    .links {
        list-style-type: none;
        padding: 1%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }
    .none {
        text-align: center;
    }
    .nav-header {
        margin: 10px;
        text-align: center;
    }
}